<!--  <div id='account_connect_bg'> -->
  <div style="z-index:2;" class='centered'>
  	<div class="footprintitem col-lg-12">
  		<h2>{{venue.name}}</h2>
  	<form class="navbar-form navbar-left" role="search">
  		<textarea  ng-model="footprintCaption" type="text" class="form-control" placeholder="What did you think of this place?">
  		</textarea>
      <input type="file" id="files"/><p id="status">Please select a file</p>
      <div style="border:1px solid gray;width:300px;"  id="preview">
      <!-- <button type="submit" class="btn btn-default" ui-sref="map.feed.checkin.post.photoupload">Upload Photo</button> -->
  	  <button type="submit" class="btn btn-default" ng-click="sendCheckinDataToServer(venue)" ui-sref="map.feed">Post</button>
    </form>
  </div>
  <span class="cancel" ui-sref='map.feed.checkin'>X</span>
</div>
<!-- </div> -->
<div ui-view></div>