<div class='waddlefeed' ui-scroll-viewport>
	<div class='waddlefeeditem' ui-scroll="checkin in allUserCheckinsFeed" is-loading='true'>
  <h4>
		{{checkin.place.name}}
  </h4>
		 <img ng-if="checkin.checkin.photoSmall != 'null'" ng-src="{{checkin.checkin.photoSmall}}">
  <button ng-click="addCheckinToBucketlist()">Add Checkin To Bucketlist</button>
  <form ng-submit="addCommentToCheckin(checkin.checkin.checkinID)">
    <input ng-model="blah" class="comment{{checkin.checkin.checkinID}}"></input>
  </form>
</div>