#signin {
  position: absolute;
  background-image: url('https://s3-us-west-2.amazonaws.com/waddle/waddleloginnotwitter.png');
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}


#fbsignin {
  background-color: #E80500;
  border-radius: 5px;
  opacity: 0;
  position: fixed;
  top: 386px;
  left: 572px;
  width: 148px;
  height: 40px;
}

#fbsignin:hover {
  opacity: 0.2;
}