#signin {
  position: absolute;
  background-image: url('https://s3-us-west-2.amazonaws.com/waddle/waddleloginnotwitter.png');
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}


#fbsignin {
  background-color: #E80500;
  border-radius: 5px;
  opacity: 0;
  position: fixed;
  top: 386px;
  left: 572px;
  width: 148px;
  height: 40px;
}

#fbsignin:hover {
  opacity: 0.2;
}

  #foursquare_connect {
  z-index: -1;
}

#fsqsignin {
  position: absolute;
  display: inline-block;
  left: 200px;
  top: 293px;
  background-color: #505050;
  opacity: 0;
  width: 285px;
  height: 110px;
  border-radius: 5px;
}

#fsqsignin:hover {
  opacity: 0.2;
}

#divhack{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
  z-index: -1; 
}