<!-- <div id='signin'>
  <span id='fbsignin' ng-click='login()'></span>
</div> -->

<div id="welcomewrapper">
    <div id="welcome">
<br/>
<br/>
    <img src="https://s3-us-west-2.amazonaws.com/waddle/WaddlePenguinLogo.png" class="logo" />
    <h1>Waddle</h1>
    <h2>Your world. Your footprints.</h2>
    
    <a href="#openModal"><button class="makemap" ng-click="login()"><h2>Let's Waddle</h2></button></a>
    
    
    </div><br />
</div>
<div class="container">
<div id="landingbody">
    <div id="bodytable">
    <br /><br /><br />
    <h3>All your experiences in one place.</h3>
    <br/>
    <div class="row">
    	<div class="col-md-4">
        <h3>Connect</h3><h4>your favorite platforms.</h4><br />
        <img src="https://s3-us-west-2.amazonaws.com/waddle/Computer_01.gif" class="threeimage" /><br />
      </div>
    	<div class="col-md-4">
        <h3>Map</h3><h4>your social footprint.</h4><br />
        <img src="https://s3-us-west-2.amazonaws.com/waddle/Map_01.png" class="threeimage" /><br />
      </div>
    	<div class="col-md-4">
        <h3>Share</h3><h4>your story with your friends and family.</h4><br />
        <img src="https://s3-us-west-2.amazonaws.com/waddle/Screen+Shot+2014-08-05+at+1.34.33+PM.png" class="threeimage" /><br />
      </div>
    </div>
    </div>
    </div>
</div>